* {
  box-sizing: border-box; 
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.card-container{
  padding: 3rem;
}

.card-container ul {
  overflow-x: scroll;
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.card{
  position: relative;
  margin: 0 1rem 0 0;
  height: 530px;
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 1px 1px 5px black;
}



::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.card-footer-info {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

h3 {
  color: rgb(197, 79, 79);
}


.dropdown_btn{
  background-color: #848688 !important;
}

.favorites-wrapper {
  display: flex;
}

.cantidad-favoritos {
  background-color: #848688;
  color: white;
}

.favorites {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.favorites-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-global-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cuerpo {
  padding: 3rem;
}

.tabla {
  margin-top: 2rem;
}